{% extends "base.html" %}
{% block contant %}
{% block title %} delete_page  {% endblock %}
<div class="div row">
    <div class="div col-sm-5">
        
        <h3>Are you sure you want to delete "{{ movie.name }}"?</h3>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger btn-sm mx-2shadow">Yes, delete</button>
            <a href="{% url 'show' %}" class="btn btn-outline-secondary btn-sm mx-2 shadow">Cancel</a>
        </form>

    </div>

</div>

{% endblock contant %}